body {
  padding: 1em;
}

header {
  font-family: Inconsolata, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  font-family: Space-Mono, sans-serif;
}

article {
  padding: 2em 2em 0 2em;
}

h1 {
  font-size: 4em;
}

button {
  text-transform: uppercase;
}

img {
  padding: 2em 2em 0 2em;
  width: 80%;
}

p {
  line-height: 1.5em;
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  img {width: 50%; padding: 3em;}
  article {width:50%; padding: 3em;}
  section {display: flex;}
}
