body {
  padding: 1em;
}

header {
  font-family: Inconsolata, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  font-family: Space-Mono, sans-serif;
}

footer {
  font-family: Space-Mono, sans-serif;
  color: #BDBDBD;
  text-align: center;
}

article {
  padding: 2em 2em 0 2em;
}

h1 {
  font-size: 3em;
}

button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  padding: 1.5em 2.8em;
}

img {
  padding: 2em 2em 0 2em;
  width: 80%;
}

p {
  line-height: 1.5em;
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  img {width: 50%; padding: 3em;}
  article {width:50%; padding: 3em;}
  section {display: flex;}
  h1 {font-size: 4em;}
  p {font-size: 1.5em;}
}
